// Theme
$color__background-body: #fff;
$color__background-light: #eaeaea;
$color__background-lighter: #f6f6f7;
$color__background-dark: #313539;
	$color__background-dark-minus-1: #45494c;
	$color__background-dark-minus-2: #5a5d60;
	$color__background-dark-minus-3: #6e7174; 
	$color__background-dark-minus-4: #838588;
	$color__background-dark-minus-5: #acaeaf;
	$color__background-dark-minus-6: #c1c2c3;
	$color__background-dark-minus-7: #eaeaeb;
$color__background_darker: #272a2d;

// Typography
$color__background-hr: #eaeaeb;
$color__border-abbr: #666;
$color__background-ins: #fff9c0;
$color__text-headings: #313539;
$color__text-main: #5a5d60;
	$color__text-main-minus-1: #838588;
	$color__text-main-minus-2: #989a9c;
	$color__text-main-minus-3: #acaeaf;
	$color__text-main-minus-4: #d5d6d7;
	$color__text-main-minus-5: #fff;
$color__link: #0896fe;

// Forms
$color__text-input: #acaeaf;
$color__text-input-focus: #5a5d60;
$color__background-input: #f6f6f7;
$color__border-input: #eeeeef;
$color__border-input-focus: #eaeaeb;
$color__border-dark-input: #45494c;
$color__background-button: #0896fe;

// Notifications
$color__background-success: #fffbcc;
$color__border-success: #e6db55;
$color__text-error: #790000;
$color__background-error: #ffdfe0;
$color__border-error: #c89797;

// Accessibility
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
