.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	@include center-block;
}

.alignnone {
	clear: both;
	display: block;
}

blockquote.alignleft,
figure.wp-caption.alignleft,
img.alignleft {
	margin: 0 rhythm(1) rhythm(1) 0;
}

blockquote.alignright,
figure.wp-caption.alignright,
img.alignright {
	margin: 0 0 rhythm(1) rhythm(1);
}

blockquote.aligncenter,
figure.wp-caption.aligncenter,
img.aligncenter {
	margin-bottom: rhythm(1);
}

blockquote.alignnone,
figure.wp-caption.alignnone,
img.alignnone {
	margin-bottom: rhythm(1);
}