/* Self Clearing Goodness */
#catchthemes:after,
#theme-option-title:after,
#theme-support:after,
#simplecatch_ad_tabs:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#catchthemes {
    background-color: #fff;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	margin: 10px 20px 10px 0;
	padding-bottom: 30px;
}
#catchthemes .updated {
	clear: both;
}
#theme-option-header {
    background-color: #3A3D41;
	padding: 10px 20px 20px;
}
#theme-social {
    float: right;
    width: 330px;
}
#theme-social ul li {
    display: inline;
    float: right;
}
#theme-option-title {
    float: left;
}
#theme-option-title .title {
    color: #fff;
    float: left;
    font-size: 21px;
    line-height: 53px;
    padding: 0 10px 0 0;
	text-shadow: none;
}
#theme-option-title .logo  { 
	float: left;
    padding: 0;
}
#upgradepro {
	clear: left;
    float: right;
}
#upgradepro .button { 
	color: #fff;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter: alpha(opacity=90);
	border: 1px solid #3a5b00;
	box-shadow: 0px 1px 2px #495f73;
	-moz-box-shadow: 0px 1px 2px #495f73;
	-webkit-box-shadow: 0px 1px 2px #495f73;
	text-shadow: 0px 1px 1px #507314;
	padding: 0 16px;
	font-size: 14px;
    height: 34px;
    line-height: 36px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-transform: uppercase;
	background:url(images/green-bg.jpg) center top repeat-x #5F8B10;
}
#upgradepro a:hover {
	opacity: 1;
	-moz-opacity: 1;
}
#theme-support {
    clear: both;
    padding-top: 15px;
    text-align: right;
}
#theme-support ul li {
	display: inline;
}
#theme-support a {
	opacity: 0.8;
	-moz-opacity: 0.8;
}
#theme-support a:hover {
	opacity: 1;
	-moz-opacity: 1;
}
#catchthemes .tabNavigation {
    background-color: #000;
    margin: 0 auto 10px;
    text-align: center;
}
#catchthemes .tabNavigation li {
    display: inline-block;
    margin: 0;
}
#catchthemes .tabNavigation li a {
    color: #EEEEEE;
    display: block;
    font-size: 15px;
    line-height: 38px;
	outline: none;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}
#catchthemes .tabNavigation li a:hover,
#catchthemes .tabNavigation li.ui-state-active a {
	background-color: #dfdfdf;
    color: #000;
}
#catchthemes .option-container {
    margin: 0 auto;
    width: 90%;
}

#catchthemes .tabNavigation .ui-tabs-selected a {
	background: url( '../../../../../wp-admin/images/menu-bits.gif' ) repeat-x left top #E0E0E0;
	border-color: #aaa !important;
	color: #000;
}
#catchthemes #videos textarea, #howimadeit textarea {
	height: 150px;
	width: 400px;
}
#catchthemes #faq ul li {
	list-style:disc inside none;
}
#sociallinks .form-table th {
	padding: 0px;
}
#catchthemes .form-table select[multiple] {
	height: 200px;
}

#catchthemes .form-table label.box {
	float: left;
	margin-right: 30px;
}
h3.option-toggle {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin: 20px 0 0 0;
	min-width: 600px;
	border:1px solid #dfdfdf;
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	height: 34px;
	line-height: 34px;
	font-size: 15px;
	font-weight: normal;
	float: left;
	padding: 0;
	width: 98%;
}
h3.option-toggle a {
	background:url(../../images/arrow-light.png) 99% 50% no-repeat;
	color: #464646;
	padding-left: 10px;
	text-decoration: none;
	display: block;
	text-shadow:#fff 0 1px 0;
}
h3.option-toggle a:hover, h3.option-active a {
	background:url(../../images/arrow-dark.png) 99% 50% no-repeat;
	color: #444;
}
.option-content {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin: 0;
	min-width: 600px;
	padding: 0;
	border: 1px solid #dfdfdf;
	border-top:none;
	background: #fcfcfc;
	overflow: hidden;
	font-size: 12px;
	clear: both;
	color: #333;
	width: 98%;
}
.option-content p {
	padding-left: 10px;
}

#info-support {
	clear: both;
    padding: 20px 0;
}
#info-support .button {
	border: none;
	color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 27px;
    margin-left: 10px;
    padding: 0 15px;
	text-shadow: none;
	opacity: 1;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	box-shadow: 0px 1px 1px #2e2f31;
	-moz-box-shadow:0px 1px 1px #2e2f31;
	-webkit-box-shadow:0px 1px 1px #2e2f31;	
}
#info-support .button:hover {
	opacity: 0.8;
}
#info-support .support {
	background:url(images/brown-bg.jpg) center top repeat-x #a1913c;
}
#info-support .themes { 
	background:url(images/blue-bg.jpg) center top repeat-x #4d6175;
}
#info-support .facebook { 
	background:url(images/facebook-bg.jpg) center top repeat-x #3a589c;
}
#info-support .twitter {
	background:url(images/twitter-bg.jpg) center top repeat-x #d90505;
}
#info-support .donate { 
	background:url(images/green-bg.jpg) center top repeat-x #5e8c10;
}
#info-support .upgrade,
#info-support .theme-social {
	display: inline-block;
	float: left;
}
#info-support .upgrade {
	margin-right: 10px;
}
#info-support .upgrade a {
    background: url("images/green-bg.jpg") repeat-x scroll center top #5E8C10;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px !important;
    height: 35px;
    line-height: 34px;
}
#info-support .theme-social .widget-fb {
    padding-bottom: 5px;
}
.clear {
	clear: both;
}
#catchthemes .form-table.layout-options label.box { 
	margin-right: 2%;
    width: 18%;
}
#catchthemes .form-table.layout-options img {
	max-width: 100%;
}
#catchthemes .form-table th {
    padding-left: 20px;
}