#top-bar {
	@include clearfix;
	background: $color__background-dark;
	padding: 0 rhythm(1);	
	width: 100%;
	
	.top-bar-text {
		@include box-sizing(border-box);
		float: left;
		width: 50%;
		
		@include breakpoint($medium) {
			float: none;
			text-align: center;
			width: 100%;
		}
		
		span {
			@include adjust-font-size-to(12px);
			@include nowrap;
			color: $color__text-main-minus-3;
			display: inline-block;
			line-height: 38px;
			margin-right: rhythm(1);

			a {
				color: $color__text-main-minus-3;
				display: inline-block;
				text-decoration: none;
				
				&:hover {
					color: $color__text-main-minus-5;
				}				
			}

			&:before,
			a:before {
				display: block;
				float: left;
				font-family: $font__icon;
				margin-right: 0.5em;
			}	
	
			&.phone a:before {
				content: "\f095";
			}

			&.email a:before {
				content: "\f0e0";
			}
		}

		.social-links-menu {

			ul li {
				padding: 0 0.625rem 0 0;
				
				&:last-of-type {
					padding-right: 0;
				}
				
				a:before {
					line-height: 38px;
					vertical-align: middle;
				}
			}
		}
	}
}