/*
	A Clean color scheme for Simple Catch Theme
*/

body {
	background-color: #2c211b;
	color: #bbb;
}
#header,
#footer,
#main #content .post-img a {
	background: none #221915;
}
#header .top-bg {
    background: none #3e2e27;
    height: 0;
}
h1#site-title a {
	color: #ddd;
}
h1#site-title a:hover {
	color: #fff;
}
h2#site-description {
	color: #aaa;
}
#header,
#header .top-bg,
#header .bottom-bg,
#footer,
hr,
#sidebar hr,
#main #content .post-img a {
	border-color: #3e2e27;
}
#main h1 a,
#main h2 a,
#main h3 a, 
#main h4 a,
#main h5 a, 
#main h6 a,
h3, 
h4, 
h5, 
h6,
a.readmore,
ul li a, 
ol li a,
#sidebar ul li a, 
#sidebar ol li a,
#footer span,
#footer a {
    color: #ddd;
}
#main #content ul.post-by li,
#main #content ul.post-by li a {
    color: #aaa;
}
#main #content ul.post-by li a:hover {
	color: #bbb;
}
#main h2.entry-title a:hover,
ul li a:hover, 
ol li a:hover,
#sidebar ul li a:hover, 
#sidebar ol li a:hover,
#footer a:hover {
	color: #fff;
}
ul.default-wp-page li.previous a {
    background-image: url("../images/ul-bg-prev-dark.png");
}
ul.default-wp-page li.next a {
    background-image: url("../images/ul-bg-dark.png");
}
#sidebar, 
#sidebar p {
	color: #ccc;
}
ul {
    list-style: disc outside url("../images/ul-bg-dark.png");
}
#footer {
	color: #aaa;
}
#header #mainmenu {
	background-color: #2c211b;
	border-color: #3e2e27;
	box-shadow: none;
}
#header #mainmenu ul li,
.breadcrumb ul,
.breadcrumb ul li a,
.breadcrumb ul li.current_item a, 
.breadcrumb ul li.current_item {
	border-color: #3e2e27;
}
#header #mainmenu ul li a {
	color: #ddd;
}
#controllers a {
    background-color: #fff;
}
#controllers a:hover, 
#controllers a.active {
    background-color: #999;
}
.featured {
    background-color: #2c211b;
	border-color: #3e2e27;
}
#content #wp_page_numbers {
	background: transparent;
}
.breadcrumb ul li a {
	background-color: #221915;
}
.breadcrumb ul li a {
    background: url("../images/breadcrumb-bg-dark.png") no-repeat scroll right -15px #221915;
	color: #bbb;
}
.breadcrumb ul li a:hover {
	background-position: right 8px;
	color: #fff;
}
.breadcrumb ul li.current_item a, 
.breadcrumb ul li.current_item {
	background-color: #3e2e27;
}
#header #mainmenu ul li a:hover, 
#header #mainmenu ul li.current-menu-item a, 
#header #mainmenu ul li.current-menu-parent a, 
#header #mainmenu ul li.current_page_item a, 
#header #mainmenu ul li.current_page_ancestor a, 
#header #mainmenu ul li:hover > a {
    background-color: #3e2e27;
}
#header #mainmenu ul li ul {
    background-color: #3e2e27;
}
#header #mainmenu ul li ul li a:hover, 
#header #mainmenu ul li ul li:hover > a {
	background-color: #2c211b;
}