/*-------------------------------------------------------------------------------------------*/
/* OptionsFramework Admin Styles */
/*-------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'AsapBold';
    src: url('fonts/Asap-Bold-webfont.eot');
    src: url('fonts/Asap-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Asap-Bold-webfont.woff') format('woff'),
         url('fonts/Asap-Bold-webfont.ttf') format('truetype'),
         url('fonts/Asap-Bold-webfont.svg#AsapBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapBoldItalic';
    src: url('fonts/Asap-BoldItalic-webfont.eot');
    src: url('fonts/Asap-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Asap-BoldItalic-webfont.woff') format('woff'),
         url('fonts/Asap-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/Asap-BoldItalic-webfont.svg#AsapBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapItalic';
    src: url('fonts/Asap-Italic-webfont.eot');
    src: url('fonts/Asap-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Asap-Italic-webfont.woff') format('woff'),
         url('fonts/Asap-Italic-webfont.ttf') format('truetype'),
         url('fonts/Asap-Italic-webfont.svg#AsapItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}





.updated {
	max-width:764px;
	margin-bottom:0px !important;
}
#optionsframework {
	position:relative;
	z-index: 0;
	max-width:780px;
}
#optionsframework h3 {
	cursor: default;
}
#optionsframework p {
	margin-bottom:0;
	padding-bottom:10px;
	color: #777;	
}
#optionsframework .section {
	width:450px;
	overflow:auto;
	margin:10px 20px;
	padding:0 0 10px 0;
	border-bottom:1px solid #343434;
}
#optionsframework .group {
	padding-bottom:40px;
}
#optionsframework .section .heading {
	padding:0px;
	margin:0 0 5px 0;
	border: 0;
	font:italic 16px Georgia, "Times New Roman", Times, serif;
	color:#bdbcbc;
}
#optionsframework .section .controls {
	float: left;
	min-width:350px;
	padding-right:2%;
}
#optionsframework .section .explain {
	width:440px;
	float: left;
	font:italic 14px Georgia, "Times New Roman", Times, serif;
	line-height:16px;
	color: #777;
}
#optionsframework .section-checkbox .controls {
	width: 98%;
}
#optionsframework .section-checkbox .explain {
	max-width:94%;
}
#optionsframework .section-color .controls {
	min-width:125px;
	width:125px
}
#optionsframework .controls input, #optionsframework .controls select, #optionsframework .controls textarea {
	margin:0 0 5px 0;
	width:100%;
	background:#2d2d2d;
	border:0;
	color: #777;
	padding:4px;
	

}
#optionsframework .section-radio label, #optionsframework .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
	color: #777;
}
#optionsframework input.checkbox, #optionsframework input.of-radio {
	width: 30px;
	float:left;
	clear:both;
}
#optionsframework .controls .of-color {
	float:left;
	width: 80px;
	margin-left:5px;
	margin-right:5px;
}
#optionsframework .controls .of-typography-size {
	width:80px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-unit {
	width:50px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-face {
	width:100px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-style {
	width:80px;
	margin-left:5px;
	margin-right:5px;
	float:left
}
#optionsframework .of-background-properties {
	clear:both;
	margin-top: 18px;	
}
#optionsframework .controls .of-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework div.section-background .controls input.upload {
	width:47%;
}
#optionsframework .controls .of-radio-img-img {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#optionsframework .controls .of-radio-img-img-pro {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	float:left;
}
#optionsframework .controls .of-radio-img-selected {
	border:3px solid #d02817;
}
#optionsframework .controls .of-radio-img-img:hover {
	opacity:.8;
}
#optionsframework .controls .of-radio-img-img-pro:hover {
	opacity:.8;
}
#optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#optionsframework .hide {
	display:none;
}
#optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 140px;
	padding:0;
	margin:0;	
}
#optionsframework .mini .controls input, #optionsframework .mini .controls {
	min-width:140px;
	width: 140px;
	background:#2d2d2d;
	border:0;
	color: #777;
	padding:0;
}
#optionsframework .mini .explain {
	max-width:74%;
}

/* Editor */

#optionsframework .section-editor .explain {
	float:none;
	margin-bottom:5px;
}

/* Image Uploader */

#optionsframework .controls input.upload {
	width:80%;
}
#optionsframework .controls input.upload_button {
	float:right;
	width:45px;
	border-color:#BBBBBB;
	cursor:pointer;
	height:16px;
	background:#eeeded;
}
#optionsframework .controls input.upload_button:hover {
	border-color:#666666;
	color:#000;
}
#optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#optionsframework .screenshot img {
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#optionsframework .screenshot .mlu_remove {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .mlu_remove {
	bottom: 0px;
}
#optionsframework .reset-button {
	float:left;
	cursor:pointer;
	margin:25px;	
}

/* Bottom Section */

#optionsframework-submit {
	padding: 7px 10px;
	border-top: 1px solid #ECECEC;
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
#optionsframework .button-primary {
	float:right;
	margin:25px;
}

/* Bottom Section */

#optionsframework .section:before, #optionsframework .section:after {
	content: "";
	display: table;
}
#optionsframework .section:after {
	clear: both;
}








.new_options_container {
	width:750px;
	overflow:auto;
	margin:10px;
	padding:0;
}
.new_options_container_top {
	width:750px;
	background:url(images/new_options_container_top.png) no-repeat;
	margin:0;
	padding:0;	
	
}
.new_options_container_top_logo {
	width:750px;
	height:120px;
	overflow:auto;
	margin:0;
	padding:0;	
	
}
.new_options_container_top_logo a{
	margin:0px 15px 0 420px;
	overflow:auto;
	padding:0;	
	
}
.new_options_container_top_logo a img{
	margin:40px 0 0 0;
	padding:0;	
	
}
.new_options_container_top_upgrade {
	width:750px;
	padding:0;	
	overflow:auto;
	margin:0;
	background:url(images/proupgradebg.png) repeat-y;
}
.new_options_container_top_upgrade a{
	padding:0;
	text-decoration:none;
	margin:0;
}
.new_options_container_top_upgrade a img{
	padding:0;
	margin:0;
	border:0;	
}
.new_options_container_top_twit {
	width:750px;
	padding:0;	
	margin:0;
	background:url(images/followtwiterbg.png) no-repeat center;	
	text-align:center;
}
.new_options_container_top_twit_bookmark {
	margin:0 auto;
	display:inline-block;
	padding:25px 0 20px 0;
}
.new_options_container_top_twit_bookmarkg {
	float:left;
	padding:0 15px;
}
.new_options_container_top_twit_bookmarkt {
	float:left;	
	padding:0 15px;
}
.new_options_container_top_twit_bookmarkf {
	float:left;	
	padding:0 15px;
}
.new_options_container_top_twit a{
	padding:0;
	text-decoration:none;
	margin:0;
}
.new_options_container_top_twit a img{
	padding:0;
	margin:0;
	border:0;	
	
}
.new_options_container_top_rate {
	width:750px;
	height:160px;
	padding:0;	
	margin:0;
	background:url(images/rate.png);
}
.new_options_container_top_rate a{
	display:block;
}
.new_options_container_middle {
	width:750px;
	overflow:auto;
	background:url(images/new_options_container_middle.png) repeat-y;
	margin:0;
	padding:0;	
	
}
.shadetabs {
	float:left;
	width:218px;
	min-height:650px;
	overflow:auto;
	margin:0;
	padding:0;	
}
.shadetabs li{
	float:left;
	width:218px;
	overflow:auto;
	margin:0;
	padding:0;
	list-style:none;
	color:#FFFFFF;
	border-bottom:1px solid #252525;
}
.shadetabs li.big{
	margin:0;
	padding:0;
}
.shadetabs li.big a{
	margin:0;
	padding:10px 10px 10px 25px;
}
.shadetabs li a.selected{
	background:#3a3a3a;
}
.shadetabs .ui-tabs-active {
	background:#3a3a3a;
}
.shadetabs li.small{
	margin:0;
	padding:0;
}
.shadetabs li.small a{
	margin:0;
	padding:4px 10px 4px 40px;
}
.shadetabs li a{
	display:block;
	color:#FFFFFF;
	text-decoration:none;
}
.shadetabs li a h6{
	font: 30px/26px AsapBold;
	color:#FFFFFF;
	margin:0;
	padding:0;
}
.shadetabs li a p{
	font:14px Georgia, "Times New Roman", Times, serif;
	color:#FFFFFF;
	margin:0;
	padding:0 !important;	
}
.shadetabscontent {
	float:left;
	width:532px;
	overflow:auto;		
	padding:15px 0;		
}
.new_options_container_bottom {
	width:750px;
	height:76px;
	background:url(images/new_options_container_bottom.png) no-repeat;
	margin:0;
	padding:0;	
	
}
.tabcontent {
	width:100%;
	overflow:auto;
}
.groupcontainer {
	width:490px;
	overflow:auto;
	margin:10px 20px;	
	padding:15px 0;
	border:1px solid #343434;
}
.groupcontainertitle {
	width:490px;
	overflow:auto;	
	background:#343434;
	padding:10px 0;
	margin:0 0 10px 0;
}
.groupcontainertitlep{
	font: 18px/18px AsapBold;
	color:#FFFFFF !important;
	margin:0 0 0 15px !important;
	padding:0 !important;
}
.tabheading {
	width:490px;
	overflow:auto;
	margin:10px 20px;	
	padding:15px 0;
	border:1px dashed #343434;
	background:#343434;
}
.tabheadingp{
	font: 18px/18px AsapBold;
	color:#ec2024 !important;
	margin:0 0 0 15px !important;
	padding:0 !important;
}
.proupgradep{
	font: 14px/16px 'AsapItalic';
	color:#EC2024 !important;
	margin:0 !important;	
	padding:0 !important;
}
.themenotice{
	width:490px;
	overflow:auto;
	margin:10px 20px;	
	padding:15px 0;
	border-bottom:5px solid #018098;
	background:url(images/blue.png);
}
.themenotice p{
    color: #000 !important;
    float: left;
    font: italic 14px/16px Georgia,"Times New Roman",Times,serif;
    width: 440px;
	padding:0 25px !important;
	margin:0 !important;
}